// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url("https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css");

body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  margin: 10px;
  color: $brand-color;
  font-size: 1.3rem;
}

p {
  margin: 10px
}

i.solid {
  color: #6162B7;
  font-size: 1.5rem
}

.devicon-css-plain {
  @extend .devicon-css3-plain !optional
}